.Main {
  width: 1450px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  transition: 0.3s ease-in-out;
  .title {
    font-size: 45px;
    margin-bottom: 30px;
  }
  .submit {
    font-size: 40px;
    padding: 5px;
    border-radius: 15px;
    background-color: green;
    color: white;
    &:hover {
      cursor: pointer;
      box-shadow: 0 0 10px 2px grey;
    }
    &:active {
      transform: translateY(5px);
      transition: 0.3s ease-in-out;
    }
  }
  .endTest {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    transition: 0.3s ease-in-out;

    .endtestTitle {
      font-size: 50px;
      margin-bottom: 30px;
    }

    .endtestResult {
      font-size: 25px;
      margin-bottom: 30px;
    }

    .restartButton {
      font-size: 25px;
      padding: 5px;
      border-radius: 15px;
      background-color: crimson;
      color: white;
      &:hover {
        cursor: pointer;
        box-shadow: 0 0 15px 2px grey;
      }
      &:active {
        transform: translateY(5px);
        transition: 0.3s ease-in-out;
      }
    }
  }
}
