.Question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-bottom: 40px;
  .title {
    font-size: 30px;
    margin-bottom: 40px;
  }
  .options {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    button {
      text-align: center;
      width: 450px;
      height: 120px;
      font-size: 24px;
      margin-right: 30px;
      border-radius: 15px;
      margin-bottom: 40px;
      background-color: crimson;
      color: white;
      padding: 5px;
      box-shadow: 0 0 15px 5px grey;
      &:last-child {
        margin-right: 0;
      }
      &:focus {
        background-color: black;
        color: white;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}
